<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/css/style.css' %}"> 
    <title>User Edit {{user_id}}</title>
</head>
<body>
    {% for msg in messages %}
    <li class="error">
        {{msg}} 
    </li>
    {% endfor %}
    </ul>

    <h1>Edit User {{user_id}}</h1>
    <form action="/users/{{user_id}}/update" method="post">
        {% csrf_token %}
        <p>First name:</p>
        <input type="text" name="first_name" id="first_name">
        <p>Last name:</p>
        <input type="text" name="last_name" id="last_name">
        <p>Email:</p>
        <input type="text" name="email" id="email">
        <input type="submit" value="Update">
    </form>
    
    <div class="bottom-links">
        <a href="/users/{{user_id}}">Show</a> |
        <a href="/users">Go Back</a>
    </div>
</body>
</html>